@{
    ViewData["Title"] = "Home Page";
}

<!-- Start -->
<section class="position-relative">
    <div class="bg-overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 p-0">
                <div class="d-flex flex-column justify-content-center px-md-5 py-5 px-4" style="height: 360px">
                    <div class="text-center">
                        <a href=""><img src="images/logo-icon-64.png" alt=""></a>
                    </div>
                    <div class="title-heading text-center my-auto">
                        <div class="fw-bold display-3">
                           <h1>Build your CV in Minutes.</h1>
                        </div>

                        <p class="para-desc mx-auto mt-2 mb-0">Stand out from the crowd with our easy-to-use CV builder. No design skills required.</p>

                        <a class="mt-5 btn btn-dark" asp-area="Identity" asp-page="/Account/Register">Get Started</a>

                    </div>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</section><!--end section-->
<!-- End -->
